body {
  background-color: bisque;
}

.container {
  /* display: flex;
  justify-content: center; */
  border: solid 5px black;
  height: 600px;
  width: 350px;
}

.btn-primary {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  width: 50px;
  padding: 20px;
}

row {
  display: flex;
}
